  .page-title {
      text-align: center;
      color: $primary-base-color;
      padding: 8px;
      margin: 0;
  }
  
  .page-container {
      min-height: 800px;
      background: $background;
  }
