<h2 class="page-title">PKA Form Home</h2>
<div class="page-container">
    <div class="tool-card">
        <md-card>
            <md-card-header>
                <div class="centeredtext">
                    <h4>Online field generation for you web interface</h4>
                </div>
            </md-card-header>
            <md-card-content>
                <img src="https://assets.materialup.com/uploads/3103a3c4-7ab8-446b-a50e-3078e32d574d/preview.gif" class="img-responsive preview">
            </md-card-content>
        </md-card>
    </div>
</div>
