//Grid System
$grid-padding: 0.3em;
$grid-small: 30em; 
$grid-medium: 50em; 
$grid-large: 68.750em; 
$grid-column-start: 1;
$grid-column-end: 12;
$grid-container-width: 100%;
$grid-percentage-widths: 25, 40, 60, 75;