<div>
    <div class="form-group">
        <md-input placeholder="Option List Group Name" id="name" required class="form-control" name="name" [(ngModel)]="model.name"></md-input>
    </div>
    <div class="form-group">
        <md-input placeholder="Check Box Group Label" id="label" required class="form-control" name="label" [(ngModel)]="model.label"></md-input>
    </div>
    <div class="form-group">
        <md-input placeholder="Add New Options" id="newoptions" class="form-control" name="newoptions" #newoptions></md-input>
        <button md-mini-fab (click)="onAddOption(newoptions)">
            <md-icon>add</md-icon>
        </button>
        <ul>
            <li *ngFor="let opt of model.options">
                {{opt}}
            </li>
        </ul>
    </div>
    <md-dialog-actions>
        <button md-raised-button name="btnOk" class="btn btn-default" (click)="onSubmit()">OK</button>
        <button md-raised-button name="btnCancel" class="btn btn-default" (click)="onCancel()">Cancel</button>
    </md-dialog-actions>
</div>
