<div class="tool-card">
    <md-card class="md2 md-card">
        <md-card-header>
            <h4>{{comptitle}}</h4>
        </md-card-header>
        <md-card-content>
            <h5>{{placeholder}}</h5>
            <ul>
                <li class="options-list" *ngFor="let opt of options">
                    <md-radio-button name="{{opt}}">{{opt}}</md-radio-button>
                </li>
            </ul>
        </md-card-content>
        <md-card-actions>
            <button md-mini-fab (click)="onClickEditElement()">
                <md-icon>{{addbuttonicon}}</md-icon>
            </button>
            <button md-mini-fab (click)="onClickRemoveElement()">
                <md-icon>{{removebuttonicon}}</md-icon>
            </button>
        </md-card-actions>
    </md-card>
</div>
