/* 
* main sass 
*/

@import '~@angular/material/core/theming/all-theme';
@import './common/style.variables';
@include angular-material-theme($theme);

@import '~@angular/material/toolbar/toolbar.scss';
@import '~@angular/material/button/button.scss';
@import '~@angular/material/card/card.scss';
@import '~@angular/material/grid-list/grid-list.scss';

@import './admin/admin.component.scss';

@include md-core();

.title {
  padding-left: 8px;
}

.app-content {
  min-height: 500px;
}

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-sidenav {
  padding: 10px;
  min-width: 100px;
  min-height: 300px;
}