/* 
* main sass 
*/
@import '~@angular/material/core/theming/all-theme';
@import './common/style.variables';

@import '~@angular/material/toolbar/toolbar.scss';
@import '~@angular/material/button/button.scss';

@include md-core();

@include angular-material-theme($theme);


.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}