<h2>Form Creation Page</h2>
<div class="grid-container">
    <div class="grid-2">
        <md-card class="container-card">
            <md-card-title>Available Components</md-card-title>
            <md-card-content>
                <element-selection></element-selection>
            </md-card-content>
        </md-card>
    </div>
    <div class="grid-2">
        <md-card class="container-card">
            <md-card-title>Assigned Components</md-card-title>
            <md-card-content>
                <form-edit></form-edit>
            </md-card-content>
        </md-card>
    </div>
</div>
