<h2 class="page-title">Form Creation</h2>
<div class="page-container">
    <md-tab-group>
        <md-tab label="Add Elements">
            <div class="tab-container">
                <form-edit></form-edit>
            </div>
        </md-tab>
        <md-tab label="Form Setttings">
            <div class="tab-container">
                <form-settings></form-settings>
            </div>
        </md-tab>
        <md-tab label="View Form">
            <div class="tab-container">
                <form-review></form-review>
            </div>
        </md-tab>
    </md-tab-group>
</div>
