<md-card class="md2 md-card">
    <md-card-content>
        <text-input-add></text-input-add>
    </md-card-content>
</md-card>
<md-card>
    <md-card-content>
        <md-radio-button name="symbol">Option</md-radio-button>
        <md-radio-button name="symbol">List</md-radio-button>
        <md-radio-button name="symbol">Element</md-radio-button>
        <button md-fab>
            <md-icon>add circle</md-icon>
        </button>
    </md-card-content>
</md-card>
<md-card>
    <md-card-content>
        <md-checkbox>Checked</md-checkbox>
        <md-checkbox>Box</md-checkbox>
        <md-checkbox>Element</md-checkbox>
        <button md-fab>
            <md-icon>add circle</md-icon>
        </button>
    </md-card-content>
</md-card>
<md-card class="md2 md-card">
    <md-card-content>
        <md-textarea width="250px" height="125px" placeholder="Text Input Element">
            <span md-prefix>
          <i class="material-icons app-input-icon">motorcycle</i>
          &nbsp;
        </span>
        </md-textarea>
        <button md-fab>
            <md-icon>add circle</md-icon>
        </button>
    </md-card-content>
</md-card>
