<div class="tool-card">
    <md-card class="md2 md-card">
        <md-card-header>
            <div class="centeredtext">
                <h2>{{form?.title}}</h2>
            </div>
        </md-card-header>
        <md-card-content>
            <div class="form-desc">
                <h4>{{form?.description}}</h4>
            </div>
            <div class="form-elements">
                <div *ngFor="let e of form?.formComponents | componentsort">
                   <element-factory [element]="e"></element-factory>
                </div>
            </div>
        </md-card-content>
        <md-card-actions>
            <button md-raised-button color="primary">Submit</button>
            <button md-raised-button color="warn">Cancel</button>
        </md-card-actions>
    </md-card>
</div>
